# OSX
.DS_Store

# Expo
.expo/
.expo-shared/

# Node
node_modules/

# Android/IntelliJ
android/app/build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# iOS
ios/build/
ios/Pods/
*.xcworkspace
xcuserdata/

# Bundle artifacts
*.jsbundle
